.velocity-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.velocity-item > div {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: white 1px solid;
}

.velocity-input {
    width: 50px;
    margin-right: 10px;
}

.new-color {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

#velocity-list {
    margin-top: 20px;
}

#color-picker-container {
    margin-top: 20px;
}

#replace-velocity-button, #preview-velocity-button, #download-velocity-button {
    margin-top: 20px;
    padding: 10px 20px;
}

#selected-color {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 80%;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Launchpad MK3 Pro Color Palette */
.velocity-0 { background-color: rgb(0, 0, 0); }
.velocity-1 { background-color: rgb(7, 7, 7); }
.velocity-2 { background-color: rgb(31, 31, 31); }
.velocity-3 { background-color: rgb(63, 63, 63); }
.velocity-4 { background-color: rgb(63, 18, 18); }
.velocity-5 { background-color: rgb(63, 0, 0); }
.velocity-6 { background-color: rgb(21, 0, 0); }
.velocity-7 { background-color: rgb(6, 0, 0); }
.velocity-8 { background-color: rgb(63, 46, 26); }
.velocity-9 { background-color: rgb(63, 20, 0); }
.velocity-10 { background-color: rgb(21, 7, 0); }
.velocity-11 { background-color: rgb(9, 6, 0); }
.velocity-12 { background-color: rgb(63, 63, 18); }
.velocity-13 { background-color: rgb(63, 63, 0); }
.velocity-14 { background-color: rgb(21, 21, 0); }
.velocity-15 { background-color: rgb(6, 6, 0); }
.velocity-16 { background-color: rgb(33, 63, 18); }
.velocity-17 { background-color: rgb(20, 63, 0); }
.velocity-18 { background-color: rgb(7, 21, 0); }
.velocity-19 { background-color: rgb(4, 10, 0); }
.velocity-20 { background-color: rgb(18, 63, 18); }
.velocity-21 { background-color: rgb(0, 63, 0); }
.velocity-22 { background-color: rgb(0, 21, 0); }
.velocity-23 { background-color: rgb(0, 6, 0); }
.velocity-24 { background-color: rgb(18, 63, 23); }
.velocity-25 { background-color: rgb(0, 63, 6); }
.velocity-26 { background-color: rgb(0, 21, 3); }
.velocity-27 { background-color: rgb(0, 6, 0); }
.velocity-28 { background-color: rgb(18, 63, 33); }
.velocity-29 { background-color: rgb(0, 63, 21); }
.velocity-30 { background-color: rgb(0, 21, 7); }
.velocity-31 { background-color: rgb(0, 7, 4); }
.velocity-32 { background-color: rgb(18, 63, 45); }
.velocity-33 { background-color: rgb(0, 63, 37); }
.velocity-34 { background-color: rgb(0, 21, 13); }
.velocity-35 { background-color: rgb(0, 6, 4); }
.velocity-36 { background-color: rgb(18, 48, 63); }
.velocity-37 { background-color: rgb(0, 41, 63); }
.velocity-38 { background-color: rgb(0, 16, 20); }
.velocity-39 { background-color: rgb(0, 3, 6); }
.velocity-40 { background-color: rgb(18, 33, 63); }
.velocity-41 { background-color: rgb(0, 21, 63); }
.velocity-42 { background-color: rgb(0, 7, 21); }
.velocity-43 { background-color: rgb(0, 1, 6); }
.velocity-44 { background-color: rgb(18, 18, 63); }
.velocity-45 { background-color: rgb(0, 0, 63); }
.velocity-46 { background-color: rgb(0, 0, 21); }
.velocity-47 { background-color: rgb(0, 0, 6); }
.velocity-48 { background-color: rgb(33, 18, 63); }
.velocity-49 { background-color: rgb(20, 0, 63); }
.velocity-50 { background-color: rgb(6, 0, 24); }
.velocity-51 { background-color: rgb(3, 0, 11); }
.velocity-52 { background-color: rgb(63, 18, 63); }
.velocity-53 { background-color: rgb(63, 0, 63); }
.velocity-54 { background-color: rgb(21, 0, 21); }
.velocity-55 { background-color: rgb(6, 0, 6); }
.velocity-56 { background-color: rgb(63, 18, 33); }
.velocity-57 { background-color: rgb(63, 0, 20); }
.velocity-58 { background-color: rgb(21, 0, 7); }
.velocity-59 { background-color: rgb(8, 0, 4); }
.velocity-60 { background-color: rgb(63, 5, 0); }
.velocity-61 { background-color: rgb(37, 13, 0); }
.velocity-62 { background-color: rgb(29, 20, 0); }
.velocity-63 { background-color: rgb(16, 24, 0); }
.velocity-64 { background-color: rgb(0, 14, 0); }
.velocity-65 { background-color: rgb(0, 21, 13); }
.velocity-66 { background-color: rgb(0, 20, 31); }
.velocity-67 { background-color: rgb(0, 0, 63); }
.velocity-68 { background-color: rgb(0, 17, 19); }
.velocity-69 { background-color: rgb(9, 0, 50); }
.velocity-70 { background-color: rgb(31, 31, 31); }
.velocity-71 { background-color: rgb(7, 7, 7); }
.velocity-72 { background-color: rgb(63, 0, 0); }
.velocity-73 { background-color: rgb(46, 63, 11); }
.velocity-74 { background-color: rgb(43, 58, 1); }
.velocity-75 { background-color: rgb(24, 63, 2); }
.velocity-76 { background-color: rgb(3, 34, 0); }
.velocity-77 { background-color: rgb(0, 63, 33); }
.velocity-78 { background-color: rgb(0, 41, 63); }
.velocity-79 { background-color: rgb(0, 10, 63); }
.velocity-80 { background-color: rgb(15, 0, 63); }
.velocity-81 { background-color: rgb(30, 0, 63); }
.velocity-82 { background-color: rgb(43, 6, 30); }
.velocity-83 { background-color: rgb(15, 8, 0); }
.velocity-84 { background-color: rgb(63, 18, 0); }
.velocity-85 { background-color: rgb(33, 55, 1); }
.velocity-86 { background-color: rgb(28, 63, 5); }
.velocity-87 { background-color: rgb(0, 63, 0); }
.velocity-88 { background-color: rgb(14, 63, 9); }
.velocity-89 { background-color: rgb(21, 63, 27); }
.velocity-90 { background-color: rgb(13, 63, 50); }
.velocity-91 { background-color: rgb(22, 34, 63); }
.velocity-92 { background-color: rgb(12, 20, 48); }
.velocity-93 { background-color: rgb(33, 31, 57); }
.velocity-94 { background-color: rgb(52, 7, 63); }
.velocity-95 { background-color: rgb(63, 0, 22); }
.velocity-96 { background-color: rgb(63, 31, 0); }
.velocity-97 { background-color: rgb(45, 43, 0); }
.velocity-98 { background-color: rgb(35, 63, 0); }
.velocity-99 { background-color: rgb(32, 22, 1); }
.velocity-100 { background-color: rgb(14, 10, 0); }
.velocity-101 { background-color: rgb(4, 18, 3); }
.velocity-102 { background-color: rgb(3, 19, 13); }
.velocity-103 { background-color: rgb(5, 5, 10); }
.velocity-104 { background-color: rgb(5, 7, 22); }
.velocity-105 { background-color: rgb(25, 14, 6); }
.velocity-106 { background-color: rgb(41, 0, 2); }
.velocity-107 { background-color: rgb(54, 20, 15); }
.velocity-108 { background-color: rgb(53, 26, 6); }
.velocity-109 { background-color: rgb(63, 55, 9); }
.velocity-110 { background-color: rgb(39, 55, 11); }
.velocity-111 { background-color: rgb(25, 44, 3); }
.velocity-112 { background-color: rgb(7, 7, 11); }
.velocity-113 { background-color: rgb(54, 63, 26); }
.velocity-114 { background-color: rgb(31, 63, 46); }
.velocity-115 { background-color: rgb(38, 37, 63); }
.velocity-116 { background-color: rgb(35, 25, 63); }
.velocity-117 { background-color: rgb(15, 15, 15); }
.velocity-118 { background-color: rgb(28, 28, 28); }
.velocity-119 { background-color: rgb(55, 63, 63); }
.velocity-120 { background-color: rgb(39, 0, 0); }
.velocity-121 { background-color: rgb(13, 0, 0); }
.velocity-122 { background-color: rgb(6, 51, 0); }
.velocity-123 { background-color: rgb(1, 16, 0); }
.velocity-124 { background-color: rgb(45, 43, 0); }
.velocity-125 { background-color: rgb(15, 12, 0); }
.velocity-126 { background-color: rgb(44, 23, 0); }
.velocity-127 { background-color: rgb(18, 5, 0); }







