body{
    background-color: #3c3c3c;
}

#launchpad {
    display: grid;
    gap: 5px;
    width: 450px;
    margin: 0 auto;
    background-color: black;
}
.launchpad-row {
    display: flex;
}

.launchpad-button, .side-button {
    width: 40px;
    height: 40px;
    margin: 2px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.side-button {
    background-color: #555;
}
.active{
    background: #ff0000;
    color: rgba(255, 0, 0, 0);
}