body{
    background-color: #3c3c3c;
}

#launchpad {
    display: flex;
    flex-direction: row;
    width: 440px;
    margin: 0 auto;
    background-color: black;
}
.side-buttons-left{
    display: flex;
    flex-direction: column;
}
.side-buttons-right{
    display: flex;
    flex-direction: column;
}

.middle-buttons{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.side-buttons-top{
    display: flex;
    flex-direction: row;
}
.side-buttons-bottom{
    display: flex;
    flex-direction: row;
}
.main-buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main-buttons-top-left{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.main-buttons-top-right{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.main-buttons-bottom-left{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.main-buttons-bottom-right{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.launchpad-button, .side-button {
    width: 40px;
    height: 40px;
    margin: 2px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0);
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.side-button {
    background-color: #555;
}
.active{
    background: #ff0000;
    color: rgba(255, 0, 0, 0);
}